<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Ticket Booking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Lost&Found</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page1">Route/Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page2">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page3">Train/bus</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Check Your PNR Status</h1>
        <p>
<h6>Q. How can I check the reservation status of my train ticket?</h6>
A. MakeMyTrip allows you to check the reservation status of your train ticket by simply typing your 10-digit PNR number.
<h6>Q. Do children get any discount on IRCTC train tickets?</h6>
A. IRCTC doesn’t charge children below the age of 5. For children who are above 5 years
<h6>Q. How many days in advance can the rail tickets be booked?</h6>
A. you’d have to pay the full ticket fare, and they will be provided with a seat.
<h6>Q. How many days in advance can the rail tickets be booked?</h6>
A. You can make your IRCTC train ticket booking 120 days in advance.
<h6>Q. Can I book a tatkal ticket?</h6>
A. Yes, you can book your tatkal ticket on MakeMyTrip in case of emergencies or last-minute travel plans. The tatkal window opens for an hour.
            </p>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">we have all day to serve you</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
